h1, .h1, 
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    font-weight: normal;
    margin: 0 0 10px 0;
}

h1, .h1 {
    color: #f09800;
    font-size: 34px;
    margin-bottom: 20px;
}

h2, .h2 {
    color: #f09800;
    font-size: 30px;
}

h3, .h3 {
    font-size: 22px;
    color: #f09800;
}
