<a ui-sref="home">Home</a>
<br>

<h1>Register for your account</h1>
<div class="panel panel--secondary">
	<h2 class="panel__heading">Please enter your details below. These must match the exact details you provided to us when you took out your policy, including capital letters and spaces.</h2>
	
	<div class="panel panel--primary">
		<form action="">
		
			<div>
				<dob-input placeholder="'Date of birth'"></dob-input>
			</div>

			<div>
				<email-input placeholder="'Email'"></email-input>
			</div>

			<button>Continue</button>
				
		</form>
	</div>
</div>
