<div class="container">
<p>©2016 Provident Insurance</p>
<p>
	Provident Insurance is a trading name of Covea Insurance plc which is authorised by the Prudential Regulation Authority and regulated by the Financial Conduct Authority and the Prudential Regulation Authority. Financial Services Register number 202277. You can check this on the Financial Services Register by visiting the <a href="https://www.fca.org.uk/firms/financial-services-register">FCA's website</a>.
</p>
<p>
	Covea Insurance plc is registered in England and Wales, Company Registration Number 613259. Registered Office Address: Norman Place, Reading, RG1 8DA. 
</p>
</div>